
<app-shoping></app-shoping>
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">About</h2>
      <h3 class="section-subheading text-muted">Huslters Living Dangerous with Swag</h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/old-logo.jpg" alt="" /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Founded in </h4>
            <h5 class="subheading">2015</h5>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Hustlers Living Dangerous with Swag is a small & focused company that has a clothing label
              called after its name, Hustlers Living Dangerous (H.L.D) with Swag clothing. Our products ranges from
              caps, t-shirts, sweaters and hoodies. We are 100% black owned company and we only use <strong>BBBEE</strong>
              companies to source our material this includes printing and embroidery.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/pop-up.jpg" alt="" /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Service Offering</h4>
            <h5 class="subheading">Everywhere</h5>
          </div>
          <div class="timeline-body">
            <p class="text-muted ">
              We encourage facilitating customer and brand interaction so as to ultimately encourage trial
              and usage. We organise ourselves so that we are where our customers are, this includes selling
              at events and participate in pop-up market events. We are currently based in Pretoria but we
              render our service across the country since we <strong>deliver everywhere</strong>.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/stand.jpg" alt="" /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Our Focus</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              H.L.D has one thing clear in mind: Customer results. From concept to execution the team
              works with clients to achieve the best possible results to deliver on our promise.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/logo.jpg" alt="" /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>We Guarantee</h4>
            <h5 class="subheading">your value for money</h5>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              We take quality and client service very seriously but we also know that most companies also say that - in truth, the industry is tough
              and some companies take chances and can't deliver what they promised. At H.L.D we offer a 2 months
              fabric and print/embroidery guarantee on all our clothing and 1 months on caps. We are passionate
              in delivering value for money to our customers.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- Team-->
<!-- Clients-->
<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <div class="section-heading">
          <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/hustlersld2015">
            <i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/hustlersswag/">
            <i class="fab fa-instagram"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/HustlersSwag">
              <i class="fab fa-twitter"></i></a>
          <h4 class="section-heading text-lowecase text-muted">email us at siduduzo@hustlersld.co.za</h4>
        </div>
      </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 text-lg-left">Copyright © <a class="btn mx-2" href="https://www.kwayuku.com">KwaYuku Inc</a></div>
      <div class="col-lg-5 text-lg-right"><a class="mr-3" href="#!">Privacy Policy</a><a href="#!">Terms of Use</a></div>
    </div>
  </div>
</footer>
<!-- shop Modals--><!-- Modal 1-->
